<h4><a ui-sref="^.list"><<</a> Output {{vm.instance.name}} <config-status status="vm.instance.status"></config-status></h4>
<ul class="nav nav-tabs">
    <li ui-sref=".main" ui-sref-active="active"><a href="#">Main</a></li>
    <li ui-sref=".props({typeId: vm.instance.id})" ui-sref-active="active"><a href="#">Properties</a></li>
</ul>
<div class="tab-content">
    <!-- viewport for child view -->
    <div ui-view ></div>
</div>

