<!--<div ng-controller="HesplanTreeController as vm">-->
    <!--{{hello}}-->
    <!--<div data-ng-repeat="parent in vm.rootObjects">-->
        <!-- - {{parent.aciklama}}-->
        <!--<div data-ng-repeat="child in parent.children">-->
            <!--&#45;&#45; {{child.aciklama}}-->
            <!--<div data-ng-repeat="grandChild in child.children">-->
              <!-- -&#45;&#45; {{grandChild.aciklama}}-->
                <!--<div data-ng-repeat="grandGrandChild in grandChild.children">-->
              <!--&#45;&#45;&#45;&#45; {{grandGrandChild.aciklama}}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<form name="form" class="form-horizontal" novalidate>-->
    <!--<div class="form-group">-->
        <!--<label for="gmkod" class="col-sm-2 control-label">gmkod</label>-->
        <!--<div class="col-sm-10">-->
        <!--<input type="text" id="gmkod" name="gmkod" class="form-control" ng-model="vm.query.gmkod">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="aciklamaLike" class="col-sm-2 control-label">aciklamaLike</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" id="aciklamaLike" name="aciklamaLike" class="form-control" ng-model="vm.query.aciklamaLike">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="baslangicTarihi" class="col-sm-2 control-label">Baslangic Tarihi</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" id="baslangicTarihi" name="baslangicTarihi" class="form-control"-->
                   <!--ng-model="vm.query.baslangicTarihi">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label for="bitisTarihi" class="col-sm-2 control-label">Bitis Tarihi</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" id="bitisTarihi" name="bitisTarihi" class="form-control"-->
                   <!--ng-model="vm.query.bitisTarihi">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<button class="btn btn-primary" type="submit"  ng-click="vm.search()">Query</button>-->
        <!--<button class="btn btn-primary" type="button"  ng-click="vm.report()">Gunluk Report</button>-->
        <!--<button class="btn btn-primary" type="button"  ng-click="vm.detayliTahsilat()">detayliTahsilat Report</button>-->
        <!--<button class="btn btn-primary" type="button"  ng-click="vm.detayliTahsilatDefault()">detayliTahsilat Default Report</button>-->
        <!--<button class="btn btn-primary" type="button"  ng-click="vm.detayliTahsilatYeni()">detayliTahsilat Default Controller</button>-->
    <!--</div>-->
<!--</form>-->

<!--<navigation max="vm.list.max" offset="vm.list.offset" count="vm.list.count"-->
<!--page-action="vm.search(offset,max)"></navigation>-->

<div class="btn-group pull-right">
    <!--<button type="button" class="btn btn-default" ng-click="vm.export('excel')">XLS</button>-->
    <button type="button" class="btn btn-default" ng-click="vm.poi()">XLS</button>
    <!--<button type="button"  class="btn btn-default" ng-click="vm.export('png')">PNG</button>-->
    <!--<button type="button"  class="btn btn-default" ng-click="vm.export('pdf')">PDF</button>-->
    <button type="button" class="btn btn-default" ng-click="vm.search(0,-1)"><span class="fa fa-refresh"></span></button>
</div>
<div class="clearfix"></div>

<div class="table-responsive" data-loading=".*">
    <table class="table" id="myTable">
        <thead>
        <!--<h3>Günlük Ödeme Tahsilat</h3>-->
        </thead>
        <tbody>
        <!--<div ng-show="!vm.list.items.length" class="form-group has-warning">-->
            <!--Kayit bulunamadi-->
        <!--</div>-->
        <tr>
            <th>FİRMA</th>
            <th>TARİH</th>
            <th  style="white-space: nowrap">MASRAF YERİ</th>
            <th  style="white-space: nowrap">TÜR</th>
            <th style="white-space: nowrap">AÇIKLAMA</th>
            <th style="text-align: right">TAHSİLAT TUTARI</th>
            <th style="text-align: right">ÖDEME TUTARI</th>
            <th style="text-align: right">BAKİYE</th>

        </tr>
        <tr data-ng-repeat="yevmiye in vm.list.items" ng-class="{'donem-sonu': yevmiye.donemSonu}">
            <td>{{vm.firma(yevmiye.masrafmerkezi)}}</td>
            <td>{{yevmiye.evraktarihi | date:'dd.MM.yy'}}</td>
            <!--<td  style="color: red; white-space: nowrap">{{yevmiye.gmkod.split(' ')[0]}} - {{vm.hesplanMap[yevmiye.gmkod.split(' ')[0]]}} </td>-->
            <!--<td  style="white-space: nowrap">{{yevmiye.gmkod}} - {{vm.hesplanMap[yevmiye.gmkod]}} </td>-->
            <td  style="white-space: nowrap">{{vm.kodMap[yevmiye.gmkod]}} </td>
            <td  style="white-space: nowrap">{{vm.turMap[yevmiye.gmkod]}} </td>
            <td style="white-space: nowrap">{{yevmiye.aciklama}}</td>
            <td style="text-align: right">{{yevmiye.borclu | currency:''}}</td>
            <td style="text-align: right">{{yevmiye.alacakli | currency:''}}</td>
            <td style="text-align: right">{{yevmiye.toplamBakiye | currency:''}}</td>
        </tr>
        </tbody>
    </table>
</div>