<li class="dropdown"  uib-dropdown>
  <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown">
    <span ng-hide="vm.authenticated"><b>Login</b></span>
    <span ng-hide="!vm.authenticated"><b>{{vm.user.username}}</b></span>
    <span class="caret"></span>
  </a>
  <!--<ul id="login-dp" class="dropdown-menu" uib-dropdown-menu ng-click="$event.stopPropagation()">-->
  <ul id="login-dp" class="dropdown-menu" uib-dropdown-menu  ng-hide="vm.authenticated">
    <li>
      <div class="row" >
        <div class="col-md-12">
          Login via
          <div class="social-buttons">
            <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
            <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
          </div>
          or
          <form class="form" role="form" method="post" accept-charset="UTF-8" id="login-nav" novalidate >
            <div class="form-group">
              <label class="sr-only" for="user">Email address</label>
              <input type="text" class="form-control"
                     ng-model="vm.username"
                     id="user" name="user" placeholder="user" required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="pass">Password</label>
              <input type="password" class="form-control"
                     ng-model="vm.password"
                     id="pass" name="pass" placeholder="Password" required>
              <div class="help-block text-right"><a href="">Forget the password ?</a></div>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-block" ng-click="vm.login()" value="Login"/>
              <!--<button type="submit" class="btn btn-primary btn-block">Sign in</button>-->
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> keep me logged-in
              </label>
            </div>
          </form>
        </div>
        <div class="bottom text-center">
          New here ? <a href="#"><b>Join Us</b></a>
        </div>
      </div>

    </li>
  </ul>
  <ul id="logout-dp" class="dropdown-menu" uib-dropdown-menu ng-hide="!vm.authenticated">
    <li>
    <div class="row" >
      <div class="col-md-12">
        <form class="form" role="form" method="post" accept-charset="UTF-8" novalidate >
          <!--<div class="form-group">-->
            <input type="submit" ng-click="vm.logout()" class="btn btn-primary btn-block" value="Logout" />
          <!--</div>-->
        </form>
      </div>
    </div>
    </li>
  </ul>
</li>
<!--


<li class="dropdown" uib-dropdown>
  <a href="#" class="dropdown-toggle"
      uib-dropdown-toggle
     role="button" aria-haspopup="true" aria-expanded="false">
    <span ng-hide="vm.authenticated">Login</span>
    <span ng-hide="!vm.authenticated">{{vm.user.username}}</span><span class="caret"></span>
  </a>
  <ul class="dropdown-menu"   uib-dropdown-menu >
    <li>

      <form  role="login" ng-hide="vm.authenticated">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="user" ng-model="vm.user.username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="pass" ng-model="vm.user.password">
        </div>
        <input type="submit" ng-click="vm.login()" value="Login"/>
      </form>
    </li>
  </ul>

</li>
-->
