<table class="table" data-loading="api/inputType/.+">
    <tbody>
    <tr>
        <td>
            Name:
        </td>
        <td>
            <input type="text" name="name" ng-model="vm.instance.name" />
        </td>
    </tr>
    <tr>
        <td>
            Description:
        </td>
        <td>
            <input type="text" name="description" ng-model="vm.instance.description" />
        </td>
    </tr>
    <tr>
        <td>
            Type:
        </td>
        <td>
            <input type="text" name="type" ng-model="vm.instance.type" />
        </td>
    </tr>
    <tr>
        <td>
            Required:
        </td>
        <td>
            <input type="checkbox" name="required" ng-model="vm.instance.required" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" class="btn btn-default" ng-click="vm.update()">Update</button>
          <!--<a class="btn btn-default"
             ui-sref="^.list">
            Back
          </a>-->
          <a class="btn btn-default"
             ng-click="goBack()">
            Back
          </a>
        </td>
    </tr>
    </tbody>
</table>
