<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th class="hidden-sm hidden-xs">Description</th>
    <th >Type</th>
    <th >Required?</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in vm.list">
    <td>{{row.id}}</td>
    <td>{{row.name}}</td>
    <td class="hidden-sm hidden-xs">{{row.description}}</td>
    <td>{{row.type}}</td>
    <td>{{row.required}}</td>
    <td>
      <a ui-sref-active="active"
         ui-sref="^.show({typeId:row.inputType.id, configId: row.id })">
        View
      </a>
    </td>
  </tr>
  </tbody>
</table>
<a ui-sref="^.new" class="btn btn-default">Add</a>

