<table class="table" data-loading="api/input/.+">
    <tbody>
    <tr>
        <td>
            Name:
        </td>
        <td>
            <input type="text" name="name" ng-model="vm.newInstance.name" />
        </td>
    </tr>
    <tr>
        <td>
            Description:
        </td>
        <td>
            <input type="text" name="description" ng-model="vm.newInstance.description" />
        </td>
    </tr>
    <tr>
        <td>
            Type:
        </td>
        <td>
            <input type="text" name="type" ng-model="vm.newInstance.type" />
        </td>
    </tr>
    <tr>
        <td>
            Required:
        </td>
        <td>
            <input type="checkbox" name="required" ng-model="vm.newInstance.required" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button"  class="btn btn-default" ng-click="vm.save()">Save</button>
          <a class="btn btn-default"
             ui-sref="^.list">
            Back
          </a>
        </td>
    </tr>
    </tbody>
</table>
