<form name="form" novalidate data-loading="api/output" class="form-horizontal">
    <div form-field label="Name">
        <input type="text" name="name" ng-model="vm.newInstance.name" required class="form-control"/>
    </div>
    <div form-field label="Description">
        <input type="text" name="description" ng-model="vm.newInstance.description" required class="form-control"/>
    </div>
    <div form-field label="Type">
        <input type="text" name="type" ng-model="vm.newInstance.type" required class="form-control"/>
    </div>
    <div form-field label="Required?" no-feedback no-messages>
        <input type="checkbox" name="required" ng-model="vm.newInstance.required"/>
    </div>
    <div form-field label=" " no-feedback no-messages>
        <input type="submit" class="btn btn-primary" ng-click="form.$valid && vm.save()" value="Save">
        <!--<a class="btn btn-default"
           ui-sref="^.list">
          Back
        </a>-->
        <a class="btn btn-default"
           ng-click="goBack()">
            Back
        </a>
    </div>
</form>
