<table class="table" data-loading="api/inputType/.+/config">
    <tbody>
    <tr>
        <td>
            Name:
        </td>
        <td>
            {{vm.instance.name}}
        </td>
    </tr>
    <tr>
        <td>
            Description:
        </td>
        <td>
            {{vm.instance.description}}
        </td>
    </tr>
    <tr>
        <td>
            Type:
        </td>
        <td>
            {{vm.instance.type}}
        </td>
    </tr>
    <tr>
        <td>
            Required:
        </td>
        <td>
            {{vm.instance.required}}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a class="btn btn-default"
                    ui-sref="outputType.show.config.edit({ typeId: vm.typeId, configId: vm.instance.id })">
                Edit
            </a>
            <a class="btn btn-default"
                    ui-sref="^.list">
                Back
            </a>
        </td>
    </tr>
    </tbody>
</table>
