<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Confirmation</h3>
</div>
<div class="modal-body" id="modal-body">
    <b>{{ vm.message }}</b>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
