<form name="form" class="form-horizontal" novalidate>
    <div class="form-group">
        <label for="gmkod" class="col-sm-2 control-label">gmkod</label>
        <div class="col-sm-10">
        <input type="text" id="gmkod" name="gmkod" class="form-control" ng-model="vm.query.gmkod">
        </div>
    </div>
    <div class="form-group">
        <label for="baslangicTarihi" class="col-sm-2 control-label">Baslangic Tarihi</label>
        <div class="col-sm-10">
            <input type="text" id="baslangicTarihi" name="baslangicTarihi" class="form-control"
                   ng-model="vm.query.baslangicTarihi">
        </div>
    </div>
    <div class="form-group">
        <label for="bitisTarihi" class="col-sm-2 control-label">Bitis Tarihi</label>
        <div class="col-sm-10">
            <input type="text" id="bitisTarihi" name="bitisTarihi" class="form-control"
                   ng-model="vm.query.bitisTarihi">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit"  ng-click="vm.search()">Query</button>
    </div>
</form>
<navigation max="vm.list.max" offset="vm.list.offset" count="vm.list.count"
page-action="vm.search(offset,max)"></navigation>
<div class="table-responsive">
    <table class="table">
        <thead>
        <h3>YEVMIYE</h3>
ge
        </thead>
        <tbody>
        <div ng-show="!vm.list.items.length" class="form-group has-warning">
            Kayit bulunamadi
        </div>
        <tr>
            <!--<td><button class="btn btn-default" ng-click="yevmiye.$get()">.$get()</button> </td>-->
            <!--<td><button class="btn btn-default" ng-click="yevmiye.$children()">.$children()</button> </td>-->
            <!--<th>Firma?</th>-->
            <th  style="color: red; white-space: nowrap">gmkod</th>
            <th>refno </th>
            <th>refno2 </th>
            <th style="white-space: nowrap">aciklama</th>
            <th>evraktarihi</th>
            <th>tip</th>
            <th>fistar</th>
            <th>fistur</th>
            <th>fisno</th>
            <!--<th>fisbil_Pid</th>-->
            <!--<th>fis_Guid</th>-->
            <!--<th>yevno</th>-->
            <!--<th>dovizadi</th>-->
            <th>miktar</th>
            <!--<th>stk</th>-->
            <th>islemtipi</th>
            <!--<th>masrafmerkezi</th>-->
            <!--<th>f_Int</th>-->
            <!--<th>f_Str</th>-->
            <!--<th>f_Islemkodu</th>-->
            <!--<th>odeme_Sekli</th>-->
            <!--<th>vade_Tarihi | date</th>-->
            <!--<th>isdegisti</th>-->
            <th>blgTrAcklm</th>
            <th>borclu</th>
            <th>alacakli</th>
            <!--<th>sube </th>-->
            <!--<th>aciklama</th>-->
            <!--<th>aciklama</th>-->
        </tr>
        <tr data-ng-repeat="yevmiye in vm.list.items">
            <!--<td><button class="btn btn-default" ng-click="yevmiye.$get()">.$get()</button> </td>-->
            <!--<td><button class="btn btn-default" ng-click="yevmiye.$children()">.$children()</button> </td>-->
            <!--<td>Firma?</td>-->
            <td  style="color: red; white-space: nowrap">{{yevmiye.gmkod}} - {{vm.hesplanMap[yevmiye.gmkod]}} </td>
            <td>{{yevmiye.refno || 'refno?'}}</td>
            <td>{{yevmiye.refno2 || 'refno2?'}}</td>
            <td style="white-space: nowrap">{{yevmiye.aciklama}}</td>
            <td>{{yevmiye.evraktarihi | date}}</td>
            <td>{{yevmiye.tip}}</td>
            <td>{{yevmiye.fistar | date}}</td>
            <td>{{yevmiye.fistur}}</td>
            <td>{{yevmiye.fisno}}</td>
            <!--<td>{{yevmiye.fisbil_Pid}}</td>-->
            <!--<td>{{yevmiye.fis_Guid}}</td>-->
            <!--<td>{{yevmiye.yevno}}</td>-->
            <!--<td>{{yevmiye.dovizadi}}</td>-->
            <td>{{yevmiye.miktar}}</td>
            <!--<td>{{yevmiye.stk}}</td>-->
            <td>{{yevmiye.islemtipi}}</td>
            <!--<td>{{yevmiye.masrafmerkezi}}</td>-->
            <!--<td>{{yevmiye.f_Int}}</td>-->
            <!--<td>{{yevmiye.f_Str}}</td>-->
            <!--<td>{{yevmiye.f_Islemkodu}}</td>-->
            <!--<td>{{yevmiye.odeme_Sekli}}</td>-->
            <!--<td>{{yevmiye.vade_Tarihi | date}}</td>-->
            <!--<td>{{yevmiye.isdegisti}}</td>-->
            <td>{{yevmiye.belge_Turu_Aciklamasi}}</td>
            <td>{{yevmiye.borclu }}</td>
            <td>{{yevmiye.alacakli }}</td>
            <!--<td>{{yevmiye.sube || 'SUBE?'}}</td>-->
            <!--<td>{{yevmiye.aciklama}}</td>-->
            <!--<td>{{yevmiye.aciklama}}</td>-->
        </tr>
        </tbody>
    </table>
</div>