<form name="form" novalidate data-loading="api/outputType" class="form-horizontal">
    <div form-field label="Name">
        <input type="text" name="name" class="form-control" ng-model="vm.instance.name" required/>
    </div>
    <div form-field label="Description">
        <input type="text" name="description" class="form-control" ng-model="vm.instance.description" label="Description" required/>

    </div>
    <div form-field label=" " no-messages no-feedback>
        <input type="submit" class="btn btn-primary" ng-click="form.$valid && vm.update()" value="Update"/>
        <input type="button" class="btn btn-default" ng-click="goBack()" value="Cancel"/>
    </div>
</form>

<!-- viewport for child view -->
        <div ui-view ></div>
