<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th class="hidden-sm hidden-xs">Description</th>
        <th >Type</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in vm.list.results">
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td class="hidden-sm hidden-xs">{{row.description}}</td>
        <td>{{row.type.name}}</td>
        <td>
            <a ui-sref-active="active"
               ui-sref="^.show({ typeId: row.id })">
                View
            </a>
        </td>
    </tr>
    </tbody>
</table>
<ul class="pagination pagination-md" ng-show="vm.pages > 1">
    <li ng-repeat="page in vm.pageList"><a ng-disabled="vm.currentPage == page.index" ui-sref=".({max:page.max, offset: page.offset})">{{page.index}}</a></li>
</ul>

<a ui-sref="^.new" class="btn btn-default btn-sm">Add</a>

