<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <!--<th class="hidden-sm hidden-xs">Description</th>-->
        <th >Type</th>
        <th>Active?</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in vm.list.results">
        <td>{{row.id}}</td>
        <td>
            <span editable-text="row.name" e-form="rowform" e-name="name">
                {{ row.name }}
            </span>
        </td>
        <td>{{row.type.name}}</td>
        <td>
      <span editable-checkbox="row.active" e-form="rowform" e-name="active">
          <!--<span class="fa fa-check" style="color: green" ng-show="row.active"></span>
          <span class="fa fa-minus"  ng-show="!row.active"></span>-->
          <output-boolean value="row.active" colored></output-boolean>
      </span>

        <td title="{{row.status}}">
            <config-status status="row.status"></config-status>
        </td>
        <td style="white-space: nowrap">
            <!--<form editable-form name="rowform" ng-show="rowform.$visible" onbeforesave="vm.saveOrUpdate($data, row.id, row.input)" class="form-buttons form-inline" >
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                    <span class="fa fa-check"></span>
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                    <span class="fa fa-close"></span>
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <button type="button" class="btn btn-default btn-sm" ng-click="rowform.$show()"><span class="fa fa-edit"></span></button>
                &lt;!&ndash;<button type="button" class="btn btn-danger" ng-click="removeUser($index)">del</button>&ndash;&gt;
            </div>-->
            <a class="btn btn-default" ui-sref="^.show.main({inputId: row.id})"><span class="fa fa-cog"></span></a>
        </td>
    </tr>
    </tbody>
</table>
    <nav aria-label="Page navigation">
    <ul class="pagination" ng-show="vm.pages > 1">
        <li ng-repeat="page in vm.pageList"><a ng-disabled="vm.currentPage == page.index" ui-sref=".({max:page.max, offset: page.offset})">{{page.index}}</a></li>
    </ul>
    </nav>
    <a ui-sref="^.new" class="btn btn-default btn-sm">Add</a>
