<form name="form" novalidate data-loading="api/input" class="form-horizontal">
        <div form-field label="Name" no-messages>
            <input type="text" name="name" ng-model="vm.instance.name"
                   class="form-control"
                   required integer >
        </div>

        <div form-field label="Description" no-messages>
            <input type="text" name="description" ng-model="vm.instance.description"
                   class="form-control"
                   required integer >
        </div>

        <div form-field label="Aktif" >
            <input type="hidden" ng-model="vm.instance.active" name="active" required/>
            <div class="btn-group" >
                <label class="btn btn-default" ng-model="vm.instance.active" uib-btn-radio="true">True</label>
                <label class="btn btn-default" ng-model="vm.instance.active" uib-btn-radio="false">False</label>
            </div>
        </div>


        <div form-field label="Type" no-feedback>
            <ui-select ng-model="vm.instance.type" theme="bootstrap" name="type" ng-required="true">
                <ui-select-match placeholder="Type...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in vm.input_types.results | filter: $select.search">
                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                    <small ng-bind-html="item.name | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div form-field label=" " no-feedback no-messages>
      <input type="submit" class="btn btn-default"  ng-click="form.$valid && vm.save()" value="Update"/>
      <a class="btn btn-default" confirmation="Lose Changes?"
         confirmation-enabled="form.$dirty"
         ui-sref="^.list">
        Cancel
      </a>
      <a class="btn btn-default" confirmation="Lose Changes?"
         confirmation-enabled="form.$dirty"
         ng-click="goBack()">
        Back
      </a>
    </div>
</form>
