
<table class="table table-responsive" data-loading="api/input">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Value</th>
        <th >Active?</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in vm.list">
      <!--<td><span editable-text="row.id" editable-disabled="true" e-form="rowform" e-name="id">{{row.id}}</span></td>-->
      <td>{{row.id}}</td>

        <td><!--<span editable-select="row.type" e-form="rowform" e-name="type" e-ng-options="g.name for g in vm.propertyTypes track by g.id">
              {{ row.name || 'empty' }}
            </span>-->
            {{row.name}}
        </td>
      <td>
            <span editable-text="row.value" e-form="rowform" e-name="value">
                {{ row.value }}
            </span>
      </td>
      </td>
      <td>
      <span editable-checkbox="row.active" e-form="rowform" e-name="active">
        <output-boolean value="row.active" colored/>
      </span>
        <!--<td>
            <a ui-sref-active="active"
               ui-sref="^.edit({ propId: row.id })">
                Edit
            </a>
        </td>-->
        <td title="{{row.status}}"><config-status status="row.status"></config-status></td>
      <td style="white-space: nowrap">
        <!-- form -->
        <!--<form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline"
         shown="inserted == user">-->
        <form editable-form name="rowform" ng-show="rowform.$visible" onbeforesave="vm.saveOrUpdate($data, row)" class="form-buttons form-inline" >
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
            <span class="fa fa-check"></span>
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
            <span class="fa fa-close"></span>
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button type="button" class="btn btn-primary btn-sm" ng-click="rowform.$show()"><span class="fa fa-edit"></span></button>
          <!--<button type="button" class="btn btn-danger" ng-click="removeUser($index)">del</button>-->
        </div>
      </td>
      <!--<td>rowform.$visible: {{rowform.$visible}}</td>-->
    </tr>
    </tbody>
</table>
<nav aria-label="Page navigation">
    <ul class="pagination" ng-show="vm.pages > 1">
        <li ng-repeat="page in vm.pageList"><a ng-disabled="vm.currentPage == page.index" ui-sref=".({max:page.max, offset: page.offset})">{{page.index}}</a></li>
        <!--<li><a href="#">2</a></li>-->
        <!--<li><a href="#">3</a></li>-->
        <!--<li><a href="#">4</a></li>-->
        <!--<li><a href="#">5</a></li>-->
    </ul>
</nav>

<!--<a ui-sref="^.new" class="btn btn-default btn-sm">Add</a>-->

