<h4>Props Edit</h4>
<table class="table" data-loading="api/input/.+">
    <tbody>
    <tr>
        <td>
            Property
        </td>
        <td>
          <label class="col-md-2 control-label">Type<span>*</span></label>
          <div class="col-md-10" ng-class="{'has-error': (form.type.$touched || form.$submitted) && form.type.$invalid}">
            <ui-select ng-model="vm.instance.type" theme="bootstrap" name="type" ng-required="true">
              <ui-select-match placeholder="Type...">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="item in vm.input_types.results | filter: $select.search">
                <div ng-bind-html="item.name | highlight: $select.search"></div>
                <small ng-bind-html="item.name | highlight: $select.search"></small>
              </ui-select-choices>
            </ui-select>
            <div ng-messages="(form.type.$touched || form.$submitted) && form.type.$error">
              <p ng-message="required" class="help-block">Zorunlu alan</p>
              <p ng-message="minlength"  class="help-block">Cok kisa</p>
              <p ng-message="maxlength"  class="help-block">Cok uzun</p>
            </div>
          </div>
        </td>
    </tr>
    <tr>
        <td>
            Description:
        </td>
        <td>
            <input type="text" name="description" ng-model="vm.instance.description" />
        </td>
    </tr>
    <tr>
        <td>
            Active:
        </td>
        <td>
            <input type="checkbox" name="active" ng-model="vm.instance.active" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button class="btn btn-default" type="button" ng-click="vm.update(vm.instance.input.id)">Update</button>
            <a class="btn btn-default"
               ui-sref="^.list">
                Cancel
            </a>
            <a class="btn btn-default"
               ng-click="goBack()">
                Back
            </a>
        </td>
    </tr>

    </tbody>
</table>
