<table class="table" data-loading="api/input/.+">
     <tbody>
    <tr>
        <th>
            Name
        </th>
        <td>
            {{vm.instance.name}}
        </td>
    </tr>
    <tr>
        <th>
            Description
        </th>
        <td>
            {{vm.instance.description}}
        </td>
    </tr>
    <tr>
        <th>
            Active?
        </th>
        <td>
            <output-boolean value="vm.instance.active" colored size="2x"></output-boolean>
        </td>
    </tr>
    <tr>
        <th>
            Type
        </th>
        <td>
            {{vm.instance.type.name}}
        </td>
    </tr>
    <tr>
      <th>
        Status
      </th>
      <td>
          <config-status status="vm.instance.status"></config-status>
      </td>
    </tr>
    <tr>
        <td colspan="2">
            <a class="btn btn-primary"
                    ui-sref=".({ inputId: vm.instance.id, mode: 'edit' })">
                <span class="fa fa-edit"></span>
            </a>
            <!--<a class="btn btn-default"-->
                    <!--ui-sref="^.list">-->
                <!--Back-->
            <!--</a>-->
            <!--<a class="btn btn-default"
               ng-click="goBack()">
                Back
            </a>-->
            <!--<a class="btn btn-default"-->
               <!--ui-sref="^.props({typeId: vm.instance.id})">-->
                <!--Properties-->
            <!--</a>-->
        </td>
    </tr>
    </tbody>
</table>
<!-- viewport for child view -->
<div ui-view ></div>
