<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Notifications</h3>
</div>
<div class="modal-body" id="modal-body">
  <table class="table">
    <tr ng-repeat="msg in vm.nm.notifications">
      <td>{{msg.config.url}}</td>
      <td>{{msg.status}}</td>
      <td>{{msg.data | json}}</td>

      <!--<td>{{msg.config}}</td>-->
      <!--<td>{{msg}}</td>-->
    </tr>
  </table>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.close()">Close</button>
  <!--<button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>-->
</div>
