<form name="form" class="form-horizontal" novalidate>

    <div class="form-group">
        <label for="kod">kod</label>
        <input id="kod" name="kod" class="form-control" ng-model="vm.query.kod">
    </div>
    <div class="form-group">
        <label for="kodLike">kodLike</label>
        <input id="kodLike" name="kodLike" class="form-control" ng-model="vm.query.kodLike">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit"  ng-click="vm.search()">Query</button>
    </div>
</form>
<div class="table-responsive">
    <table class="table">
        <thead>
        <h3>HESPLAN</h3>

        </thead>
        <tbody>
        <tr data-ng-repeat="hesplan in vm.list.items">
            <td><button type="btn btn-default" ng-click="hesplan.$get({})">Refresh<span class="fa fa-refresh"></span></button></td>
            <td>Firma?</td>
            <td style="color: red">kod: {{hesplan.kod}} </td>
            <td>{{hesplan.aciklama}}</td>
            <td>{{hesplan.arti}}</td>
            <td>{{hesplan.topa}}</td>
            <td>{{hesplan.topb}}</td>
            <td>{{hesplan.yabanci}}</td>
        </tr>
        </tbody>
    </table>
</div>