
        <div id="controllers" role="navigation"  data-loading="api/inputType$">
            <h3>Input Type</h3>
            <!-- viewport for child view -->
            <div ui-view ></div>
        </div>
