<form name="form" novalidate data-loading="api/inputType" class="form-horizontal">
    <div form-field label="Name">
        <input type="text" name="name" class="form-control" ng-model="vm.instance.name" required/>
    </div>
    <div form-field label="Description">
        <input type="text" name="description" class="form-control" ng-model="vm.instance.description" label="Description" required/>

    </div>
    <div form-field label=" " no-messages no-feedback>
            <input type="submit" class="btn btn-primary" ng-click="vm.save()" value="Save"/>
            <button type="button" class="btn btn-default" ng-click="goBack()">Cancel</button>
    </div>
</form>
