<table class="table" data-loading="api/inputType/.+">
    <tbody>
    <tr>
        <td>
            Name:
        </td>
        <td>
            {{vm.instance.name}}
        </td>
    </tr>
    <tr>
        <td>
            Description:
        </td>
        <td>
            {{vm.instance.description}}
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <a class="btn btn-default"
                    ui-sref="^.edit({ typeId: vm.instance.id })">
                Edit
            </a>
            <a class="btn btn-default"
                    ui-sref="^.list">
                Back
            </a>
          <a class="btn btn-default"
             ui-sref=".config.list({ typeId: vm.instance.id })">
            Config
          </a>
          <!--  <button type="button" ng-click="goBack()">Back</button>-->
        </td>
    </tr>
    </tbody>
</table>

<!-- viewport for child view -->
        <div ui-view ></div>
