<navigation max="vm.data.list.max" offset="vm.data.list.offset" count="vm.data.list.count"
page-action="vm.search(offset,max)"></navigation>
<div class="btn-group pull-right">
    <button type="button" class="btn btn-default" ng-click="vm.poi()">XLS</button>
    <!--<button type="button" class="btn btn-default" ng-click="vm.export('excel')">XLS</button>-->
    <!--<button type="button"  class="btn btn-default" ng-click="vm.export('png')">PNG</button>-->
    <!--<button type="button"  class="btn btn-default" ng-click="vm.export('pdf')">PDF</button>-->
    <button type="button" class="btn btn-default" ng-click="vm.reload()"><span class="fa fa-refresh"></span></button>
</div>
<div class="clearfix"></div>
<div class="table-responsive" data-loading=".*">
    <!--<div class="ng-cloak" ng-show="!vm.data.list.length" class="form-group has-warning">-->
        <!--Kayit bulunamadi-->
    <!--</div>-->
    <table class="table" id="myTable">
        <thead>
        <!--<h3>Eski Tahsilat</h3>-->
        </thead>
        <tbody>
        <tr>
            <th  style="white-space: nowrap">ALICI</th>
            <th  style="white-space: nowrap">SATIŞ BEDELİ</th>
            <th style="white-space: nowrap">TAHSİL EDİLEN</th>
            <th style="white-space: nowrap">KALAN ALACAK</th>
            <th data-ng-repeat="ay in vm.data.donemlerAy" style="white-space: nowrap">{{ay}}</th>
            <th data-ng-repeat="yil in vm.data.donemlerYil" style="white-space: nowrap">{{yil}}</th>
        </tr>
        <tr data-ng-repeat="musteri in vm.data.list">
            <td style="white-space: nowrap">{{musteri.hesplan.kod}} {{musteri.hesplan.aciklama}}</td>
            <td style="text-align: right">{{musteri.satisBedeli | currency:''}}</td>
            <td style="white-space:nowrap;text-align: right">{{musteri.tahsilEdilen | currency:''}}</td>
            <!--<td style="white-space:nowrap;text-align: right">{{musteri.satisBedeli - musteri.kalanToplamBakiye | currency:''}}</td>-->
            <td style="white-space: nowrap;text-align: right">{{musteri.kalanAlacak | currency:''}}</td>
            <!--<td style="white-space: nowrap;text-align: right">{{musteri.kalanToplamBakiye | currency:''}}</td>-->
            <td data-ng-repeat="ay in vm.data.donemlerAy" style="white-space: nowrap; text-align: right">{{musteri.kalanDonemAlacaklari[ay] | currency:''}}</td>
            <td data-ng-repeat="yil in vm.data.donemlerYil" style="white-space: nowrap; text-align: right">{{musteri.kalanDonemAlacaklari[yil] | currency:''}}</td>
        </tr>
        <tr>
            <th style="text-align: right">TOPLAMLAR:</th>
            <th style="text-align: right">{{vm.data.satisBedeliToplam | currency:''}} </th>
            <th style="text-align: right">{{vm.data.tahsilEdilenToplam | currency:''}} </th>
            <th style="text-align: right">{{vm.data.kalanAlacakToplam2 | currency:''}}</th>
            <!--<th style="text-align: right">{{vm.data.kalanAlacakToplam | currency:''}} </th>-->
            <th style="text-align: right" data-ng-repeat="ay in vm.data.donemlerAy" style="white-space: nowrap">{{vm.data.donemAlacakToplamlari[ay] | currency:''}}</th>
            <th style="text-align: right" data-ng-repeat="yil in vm.data.donemlerYil" style="white-space: nowrap">{{vm.data.donemAlacakToplamlari[yil] | currency: ''}}</th>
        </tr>
        </tbody>
    </table>
</div>