<!--<div ng-controller="HesplanTreeController as vm">-->
    <!--{{hello}}-->
    <!--<div data-ng-repeat="parent in vm.rootObjects">-->
        <!-- - {{parent.aciklama}}-->
        <!--<div data-ng-repeat="child in parent.children">-->
            <!--&#45;&#45; {{child.aciklama}}-->
            <!--<div data-ng-repeat="grandChild in child.children">-->
              <!-- -&#45;&#45; {{grandChild.aciklama}}-->
                <!--<div data-ng-repeat="grandGrandChild in grandChild.children">-->
              <!--&#45;&#45;&#45;&#45; {{grandGrandChild.aciklama}}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<form name="form" class="form-horizontal" novalidate>
    <div class="form-group">
        <label for="gmkod" class="col-sm-2 control-label">gmkod</label>
        <div class="col-sm-10">
        <input type="text" id="gmkod" name="gmkod" class="form-control" ng-model="vm.query.gmkod">
        </div>
    </div>
    <div class="form-group">
        <label for="aciklamaLike" class="col-sm-2 control-label">aciklamaLike</label>
        <div class="col-sm-10">
            <input type="text" id="aciklamaLike" name="aciklamaLike" class="form-control" ng-model="vm.query.aciklamaLike">
        </div>
    </div>
    <div class="form-group">
        <label for="baslangicTarihi" class="col-sm-2 control-label">Baslangic Tarihi</label>
        <div class="col-sm-10">
            <input type="text" id="baslangicTarihi" name="baslangicTarihi" class="form-control"
                   ng-model="vm.query.baslangicTarihi">
        </div>
    </div>
    <div class="form-group">
        <label for="bitisTarihi" class="col-sm-2 control-label">Bitis Tarihi</label>
        <div class="col-sm-10">
            <input type="text" id="bitisTarihi" name="bitisTarihi" class="form-control"
                   ng-model="vm.query.bitisTarihi">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit"  ng-click="vm.search()">Query</button>
        <button class="btn btn-primary" type="button"  ng-click="vm.report()">Gunluk Report</button>
        <button class="btn btn-primary" type="button"  ng-click="vm.detayliTahsilat()">detayliTahsilat Report</button>
        <button class="btn btn-primary" type="button"  ng-click="vm.detayliTahsilatDefault()">detayliTahsilat Default Report</button>
        <button class="btn btn-primary" type="button"  ng-click="vm.detayliTahsilatYeni()">detayliTahsilat Default Controller</button>
    </div>
</form>-->

<!--<navigation max="vm.list.max" offset="vm.list.offset" count="vm.list.count"-->
<!--page-action="vm.search(offset,max)"></navigation>-->

<div class="btn-group pull-right">
    <!--<button type="button" class="btn btn-default" ng-click="vm.export('excel')">XLS</button>-->
    <!--<button type="button" class="btn btn-default" ng-click="vm.excelPlus('excel')">Excel Plus</button>-->
    <button type="button" class="btn btn-default" ng-click="vm.poi()">XLS</button>
    <!--<a href="/detayliTahsilat/poi" target="_blank">POI</a>-->
    <!--<button type="button"  class="btn btn-default" ng-click="vm.export('png')">PNG</button>-->
    <!--<button type="button"  class="btn btn-default" ng-click="vm.export('pdf')">PDF</button>-->
    <button type="button" class="btn btn-default" ng-click="vm.reload()"><span class="fa fa-refresh"></span></button>
</div>
<div class="clearfix"></div>


<div class="table-responsive" data-loading=".*">
    <table class="table" id="myTable">
        <thead>
        <!--<h3>Detaylı Tahsilat</h3>-->

        </thead>
        <tbody>
        <!--<div ng-show="!vm.list.length" class="form-group has-warning">-->
            <!--Kayit bulunamadi-->
        <!--</div>-->
        <tr>
            <!--<td><button class="btn btn-default" ng-click="yevmiye.$get()">.$get()</button> </td>-->
            <!--<td><button class="btn btn-default" ng-click="yevmiye.$children()">.$children()</button> </td>-->
            <!--<th>Firma?</th>-->
            <!--<th  style="white-space: nowrap">MÜŞTERİ</th>-->
            <!--<th  style="white-space: nowrap">SATIŞ BEDELİ</th>-->
            <!--<th></th>-->
            <!--<th>islenmisOdemePlanlari </th>-->
            <!--<th>islenmemisTahsilatlar </th>-->


        </tr>
        <tr data-ng-repeat="musteri in vm.data.list">
            <th>
                <table>
                    <tr>
                        <td style="text-align:right;white-space: nowrap">MÜŞTERİ</td>
                        <td style="text-align:left;white-space: nowrap; padding-left: 5px;">{{musteri.hesplan.aciklama}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:right;white-space: nowrap">SATIŞ BEDELİ</td>
                        <td style="text-align:left;white-space: nowrap; padding-left: 5px;">{{musteri.hesplan.topa | currency:''}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:right;white-space: nowrap">TAHSİLAT TARİHİ</td>
                        <th></th>
                        <td style="text-align:right;white-space: nowrap">BAKİYE</td>
                    </tr>
                    <tr data-ng-repeat="plan in musteri.islenmisOdemePlanlari" ng-class="{'henuz-odenmeyen': !plan.odendi}">
                        <td style="text-align:right;white-space: nowrap">{{plan.evraktarihi | date:'dd/MM/yy'}}</td>
                        <td style="text-align:right;white-space: nowrap">{{plan.tutar | currency:''}}</td>
                        <td style="text-align:right;white-space: nowrap">{{plan.kalanToplamBakiyePlan | currency:''}}</td>
                    </tr>
                </table>
            </th>
            <!--<td><button class="btn btn-default" ng-click="musteri.$get()">.$get()</button> </td>-->
            <!--<td><button class="btn btn-default" ng-click="musteri.$children()">.$children()</button> </td>-->
            <!--<td>Firma?</td>-->
            <!--<td  style="color: red; white-space: nowrap">{{musteri.gmkod.split(' ')[0]}} - {{vm.hesplanMap[musteri.gmkod.split(' ')[0]]}} </td>-->
            <!--<td style="white-space: nowrap">{{musteri.hesplan.kod}} {{musteri.hesplan.aciklama}}</td>-->
            <!--<td>{{musteri.hesplan.topa | currency:''}}</td>-->
            <!--<td>-->
                <!--<table>-->
                    <!--<tr>-->
                        <!--<th style="white-space: nowrap">Tahsilat Tarihi</th>-->
                        <!--<th></th>-->
                        <!--<th>Bakiye</th>-->
                    <!--</tr>-->
                    <!--<tr data-ng-repeat="plan in musteri.islenmisOdemePlanlari">-->
                        <!--<td>{{plan.evraktarihi | date:'dd/MM/yy'}}</td>-->
                        <!--<td>{{plan.tutar | currency:''}}</td>-->
                        <!--<td>{{plan.kalanToplamBakiyePlan | currency:''}}</td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</td>-->
            <!--<td style="white-space: nowrap">-->
                <!--<div data-ng-repeat="plan in musteri.islenmisOdemePlanlari">-->
                    <!--<p>{{plan.evraktarihi | date:'dd/MM/yy'}} {{plan.odemeTarihi | date:'dd/MM/yy'}} {{plan.tutar | currency:''}} {{plan.odendi}} {{plan.kalanToplamBakiyePlan | currency:''}}  {{plan.kalanToplamBakiye | currency:''}}</p>-->
                <!--</div>-->
            <!--</td>-->
            <!--<td style="white-space: nowrap">-->
                <!--<div data-ng-repeat="tahsilat in musteri.islenmemisTahsilatlar">-->
                    <!--<p>{{tahsilat.evraktarihi | date:'dd/MM/yy'}} {{tahsilat.odemeTarihi | date:'dd/MM/yy'}} {{tahsilat.tutar | currency:''}} {{tahsilat.kalanTutar | currency:''}} {{tahsilat.odendi}} {{tahsilat.kalanToplamBakiye | currency:''}}</p>-->
                <!--</div>-->
            <!--</td>-->


        </tr>
        </tbody>
    </table>
</div>