<!--{{offset}}-->
<nav aria-label="Page navigation">
    <ul class="pagination" ng-show="pages.length > 0">
        <li>
            <a ng-click="offset != pages[0].offset && navigateTo(pages[0])"><<</a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active: offset == page.offset}">
            <a ng-click="offset != page.offset && navigateTo(page)">{{page.text}}</a>
        </li>
        <li>
            <a ng-click="offset != pages[pages.length-1].offset  && navigateTo(pages[pages.length-1])">>></a>
        </li>
    </ul>
</nav>