<li class="dropdown" data-uib-dropdown data-ng-repeat="menu in menuCtrl.menus | filter: menuCtrl.menuFilter">
    <!--{{menuCtrl.userRoles}}-->
    <a href="#" class="dropdown-toggle" data-uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">{{menu.name}}<span class="caret"></span></a>
    <ul class="dropdown-menu" data-uib-dropdown-menu>
        <li data-ng-repeat="item in menu.menuItems" class="controller">
            <a  ui-sref="{{item.state}}">{{item.displayName}}</a>
        </li>
    </ul>
</li>