<!--Application Html-->
<!--<button ui-sref=".">HOME </button>-->
<!--<button ui-sref=".gunlukFinans.list">Gunluk Finans</button>-->
<!--<button ui-sref=".yevmiye.list">YEVMIYE</button>-->
<!--<button ui-sref=".logyev.list">LOGYEV</button>-->
<!--<button ui-sref=".hesplan.list">HESPLAN</button>-->
<ui-view></ui-view>

<!--End of Application html-->